@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --color-black: #000;
  --color-white:#fff;

  --color-light-cyan: #e7fdfb;
  --color-dark-cyan: #196f94;

  --color-light-purple: #9e78e9;
  --color-dark-purple: #640fdb;

  --size-10:0.625rem;
  --size-12:0.75rem;
  --size-14:0.875rem;
  --size-16:1rem;
  --size-18:1.125rem;
  --size-20:1.25rem;
  --size-25:1.5625rem;
  --size-30:1.875rem;
  --size-35:2.1875rem;
  --size-40:2.5rem;
  --size-50:3.125rem;
  --size-75: 4.6875rem;
  --size-100:6.25rem;
  --size-150:9.375rem;
  --size-200:12.5rem;
}

a{
  text-decoration: none;
  color: var(--color-black);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7fdfb;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

/* .App-header {
  max-height: var(--size-100);
} */

.App-header img {
  min-height: 15vh;
  /* width: auto; */
  max-height: 50vh;
  max-width: 75%;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-50);
}

li p {
  font-size: var(--size-35);
  font-weight: 600;
}

.li-logos {
  width: var(--size-75);
  height: var(--size-75);
}

.gro-logo {
  width: 50rem;
  height: auto;
}

.personal-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pm-heading-name {
  color:var(--color-dark-cyan);
  font-size: var(--size-75);
}

.pm-heading-title {
  color: var(--color-light-purple);
  font-weight: 600;
  font-size: var(--size-50);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: 'Montserrat', sans-serif;

}


